.navbar {
    display: flex;
    /* width: 100%; */
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
    /* background-color: var(--black);
    color: var(--white); */
}
.links-div {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
}
