.navbar {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    position: sticky;
    background-color: var(--black);
    z-index: 100;
    border-bottom: 1px solid var(--grey);
}
.links-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.links {
    font-weight: 700;
    color: var(--grey);
    transition: all 0.3s;
    margin-left: 2rem;
  }
 .links button {
    color: #fff;
 }
  .links:hover {
    color: var(--white);
    cursor: pointer;
  }
/* -----Drawer--------- */

.drawer-div {
    width: 40vw;
    height: 100%;
    padding: 1rem 2rem;
    font-size: 2rem;
    background-color: var(--darkgrey);
}
.menu-div {
    display: none;
}
/* ---------responsive-------- */

@media only screen and (max-width: 800px) {
    .links-div {
        display: none;
    }
    .menu-div {
        display: block;
    }
    .drawer-div{
        font-size: 1rem;
    }
}   