.navbar {
    display: flex;
    /* width: 100%; */
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
    /* background-color: var(--black);
    color: var(--white); */
}
.links-div {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-evenly;
}


/* -----Drawer--------- */

.drawer-div {
    width: 40vw;
    height: 100%;
    padding: 1rem 2rem;
    font-size: 2rem;
    background-color: var(--darkgrey);
}
.menu-div {
    display: none;
}
/* ---------responsive-------- */

@media only screen and (max-width: 800px) {
    .links-div {
        display: none;
    }
    .menu-div {
        display: block;
    }
    .drawer-div{
        font-size: 1rem;
    }
}   