.carousel-div{
    margin-left: 0;
    margin-top: 2rem;
    text-align: center;
    align-items: center;
}
.each-slide {
    text-align: center;
}
.each-image{
    width: 10rem;
    margin-right: 1rem;
}

@media only screen and (max-width: 800px) {
    .each-image {
        width: 10rem;
        padding: 0 2rem;
    }
}