.landing-page{
    width: 100%;
    height: 90%;
    display: flex;
    text-align: left;
    flex-wrap: nowrap;
    position: relative;
}
.headings-div {
    width: 60%;
    margin: 1rem 2rem;
}
.headings{
    font-size: 5rem;
}

.stroke:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--white);
    color: var(--black);
    transition: all 0.6s;
  }

.heading-blue {
    color: var(--blue);
}
.btn-div {
    display: flex;
    gap: 1.5rem;
    margin-top: 2.5rem;
}
.image-div {
    position: relative;
    width: 40%;
}
.phone {
    position: absolute;
    width: 18rem;
    top: 6rem;
    right: 4rem;
}
.gradient{
    top: 8rem;
    right: 4rem;
    position: absolute;
    width: 16rem;
}
.carousel-div {
    padding-bottom: 2rem;
}

@media only screen and (max-width: 800px) {
    .landing-page{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* min-height: 90%; */
    }
    .headings{
        font-size: 2.5rem;
    }
    .btn-div {
        justify-content: space-evenly;
    }
    .headings-div {
        margin: 0;
    }
    .image-div {
        position: relative;
        margin: auto;
    }
    .phone {
        /* position: absolute; */
        width: 18rem;
        top: -4rem;
        right: 2rem;
    }
    .gradient{
        margin: auto;
        width: 16rem;
        top: -2rem;
        right: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    
    .headings{
        font-size: 2rem;
    }
    .phone {
        width: 18rem;
        top: -4rem;
        right: 0rem;
    }
    .gradient{
        position: absolute;
        margin: auto;
        width: 16rem;
        top: -2rem;
        right: 0;
    }
}