.landing-page{
    width: 100%;
    display: flex;
    text-align: left;
}
.headings-div {
    width: 60%;
    margin: 2rem;
}
.headings{
    font-size: 5rem;
}

.stroke:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--white);
    color: var(--black);
    transition: all 0.6s;
  }

.heading-blue {
    color: var(--blue);
}
.btn-div {
    display: flex;
    gap: 1.5rem;
    margin-top: 2.5rem;
}
.image-div {
    position: relative;
    width: 40%;
}
.phone {
    position: absolute;
    width: 18rem;
    top: 6rem;
    right: 4rem;
}
.gradient{
    top: 6rem;
    right: 4rem;
    position: absolute;
    width: 16rem;
}