.button-wrapper {
    background-color: var(--blue);
    padding: 1px 1.5rem;
    border-radius: 2rem 15px;
    cursor: pointer;
    width: fit-content;
    text-align: center;
    min-width: 6rem;
    margin: 0;
}
.button-wrapper p {
    color: var(--black);
    font-weight: 600;
}
.button-wrapper:hover {
    transform: scale(1.1);
    border-radius: 2rem;
}
.outline-button-wrapper {
    background-color: var(--black);
    border: 1px solid var(--blue);
    padding: 1px 1.5rem;
    border-radius: 3rem 2rem 2rem 15px;
    cursor: pointer;
    font-weight: 600;
    width: fit-content;
    text-align: center;
    min-width: 7rem;
}
.outline-button-wrapper:hover {
    transform: scale(1.1);
    border-radius: 2rem;
}
.outline-button-wrapper p {
    color: var(--blue);
}