.home-div {
    height: 100vh;
}
.data-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.data span{
    font-weight: 600;
}

/* ------------------NEWS-------------- */

.news-div {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items: center; */
}