.home-div {
    height: 100vh;
}
.data-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.data span{
    font-weight: 600;
}

/* ------------------NEWS-------------- */
.news-page-div {
    text-align: center;
    padding: 0.5rem 2rem;
    color: var(--black);
}
.news-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}
.news-div {
    color: var(--black);
    text-align: center;
    width: 350px;
    height: 350px;
    margin: 1rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
     background-repeat: no-repeat;
     background-size: cover;
    background-position: center;
    opacity: 0.7;
    border-radius: 1rem;
}
.news-div:hover {
    opacity: 1.2;
}.news-div:hover .hidden-page {
    /* display: block; */
}
.news-div p {
    font-size: 2rem;
    margin: 0;
    z-index: 100;
}
.btn {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--blue);
    background-color: transparent;
    border: 1px solid var(--blue);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}
.hidden-page {
    text-align: left;
    font-size: 20px !important;
    display: none;
}