.select-flex {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
    margin: 1rem 3rem;
  }
  
.coin-page-div {
  padding: 1rem;
  margin: 1rem 3rem;
  background-color: var(--darkgrey);
  border-radius: 1rem;
}
.coin-page-div:hover {
    border: 1px solid var(--white);
}
.toggle-flex {
  display: flex;
  justify-content: space-around;
}
.graphBtn {
  font-size: 1.5rem;
  width: fit-content;
  border-radius: 0.5rem;
  border: 1px solid var(--black);
  color: white;
  background-color: var(--blue);
  padding: 0.5rem 1.5rem;
}
  .text-select {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  @media only screen and (max-width: 800px) {
    .select-flex {
      margin: 1rem 1rem;
      justify-content: space-between;
      gap: 0rem;
    }
    .text-select {
      flex-direction: column;
      justify-content: flex-start;
    }
    .text-select p {
      display: none;
    }
    .inverse {
      flex-direction: column-reverse;
    }
  }
  
  
@media only screen and (max-width: 800px) {
  .select-flex {
    gap: 0.5rem;
    margin: 0.5rem 1.5rem;
  }
}