.footer-wrapper {
    display: flex;
    height: 10vh;
    bottom: 0;
    background-color: var(--blue);
    width: 100%;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
}

.socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    color: var(--white);
  }
  .socialIcons {
    font-size: 2rem;
    color: var(--white);
  }
  
  .socialIcons:hover {
    transform: scale(1.2);
    transition: all 0.3s;
  }
  
  @media only screen and (max-width: 800px) {
    .footer-wrapper {
      margin-top: 4rem;
      padding: 3rem 3rem;
      flex-direction: column;
      gap: 1rem;
      display: none;
    }
    .socialIcons {
      font-size: 1.5rem;
    }
  }